.App {
  min-height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  color: black;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* min-height: 100vh; */
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  /* font-size: calc(10px + 2vmin); */
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.menuImage {
  width: 400px;
  height: auto;
}

.menuTitle {
  padding: 20px;
}

.navImage {
  width: 55px;
}

.signupBox {
  width: 100%;
  padding: 40px;
}

.strong {
  margin: 0px;
}

.blackLinks:link {
  color: greenyellow;
  background-color: transparent;
  text-decoration: none;
}
.blackLinks:visited {
  color: black;
  background-color: transparent;
  text-decoration: underline;
}
.blackLinks:hover {
  text-decoration: underline;
}

.btn-filter {
  background-color: #d2b48c !important;
}
